{#
/**
 * @file
 * Worthy's theme implementation to display a single page.
 */
#}
<div class="scrollToTop">
  <i class="icon-up-open-big"></i>
</div>
<header class="header fixed clearfix navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{ page.header }}
      </div>
      <div class="col-md-8">
        <div class="header-right clearfix">
          <div class="main-navigation animated">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-collapse-1" class="collapse navbar-collapse scrollspy smooth-scroll">
                  {{ page.primary_menu }}
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="banner" class="banner">
  <div class="banner-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                <h1 class="text-center">We are <span>Worthy</span></h1>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos debitis provident nulla illum minus enim praesentium repellendus ullam cupiditate reiciendis optio voluptatem, recusandae nobis quis aperiam, sapiente libero ut at.</p>
            </div>
        </div>
    </div>
</div>
    {{ page.frontpage_content }}
<footer id="footer">
  <div class="footer section">
    <div class="container">
      <h1 id="contact" class="title text-center">{{ "Contact Us"|t }}</h1>
      <div class="space"></div>
      <div class="row">
        <div class="col-sm-6">
        	<div class="footer-content">
        		<p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis.</p>
        		<ul class="list-icons">
        			<li><i class="fa fa-map-marker pr-10"></i> One infinity loop, 54100</li>
        			<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
        			<li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
        			<li><i class="fa fa-envelope-o pr-10"></i> your@email.com</li>
        		</ul>
        		<ul class="social-links">
        			<li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a></li>
        			<li class="twitter"><a target="_blank" href="https://twitter.com/HtmlcoderMe"><i class="fa fa-twitter"></i></a></li>
        			<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
        			<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
        			<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
        			<li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
        			<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
        			<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
        		</ul>
        	</div>
        </div>
        <div class="col-sm-6">
          <div class="footer-content">
            {{ contact_form }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<p class="text-center">{{ "Copyright &copy; 2015 by Webteam group"|t }}</p>
    		</div>
    	</div>
    </div>
  </div>
</footer>
