{#
/**
 * @file
 * Template for a example 1 column layout.
 */
#}

<div id="banner" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                    <h1 class="text-center">We are <span>Worthy</span></h1>
                    <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos debitis provident nulla illum minus enim praesentium repellendus ullam cupiditate reiciendis optio voluptatem, recusandae nobis quis aperiam, sapiente libero ut at.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            {{ content.about }}
        </div>
    </div>
</div>

<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        {{ content.feature1 }}
    </div>
</div>

<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Let's Work Together!</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        {{ content.feature2 }}
    </div>
</div>

<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
      {{ content.feature3 }}
    </div>
</div>

<div class="translucent-bg blue">
    <div class="container">
        <div class="list-horizontal">
            <div class="row">

            </div>
        </div>
    </div>
</div>

<div class="default-bg space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">10000+ Happy Clients!</h1>
            </div>
        </div>
    </div>
</div>

<div class="footer section">
    <div class="container">
        {{ content.bottom }}
    </div>
</div>
