{#
/**
 * @file
 * IDE's theme implementation to display a single page.
 */
#}
<div id="page-wrapper">
  <div id="header-wrapper">
    <div class="container">
      <header id="header">
		    <div class="inner">
          {{ page.header }}
          <nav id="nav">
            {{ page.primary_menu }}
          </nav>
        </div>
      </header>
      {{ page.featured_top }}
    </div>
  </div>

  <div id="main-wrapper">
    <div class="wrapper style1">
		  <div class="inner">
        <section class="container box feature1">
        {{ page.breadcrumb }}
        {{ title_prefix }}
        {% if title %}
          <h1 class="title" id="page-title">
            {{ title }}
          </h1>
        {% endif %}
        {{ title_suffix }}
        {% if tabs %}
          <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
            {{ tabs }}
          </nav>
        {% endif %}
        {{ page.help }}
        {% if action_links %}
          <ul class="action-links">{{ action_links }}</ul>
        {% endif %}
        {{ page.content }}
        </section>
      </div>
    </div>
  </div>

  <div id="footer-wrapper">
  	<footer id="footer" class="container">
      <div class="row">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="3u 12u(mobile)">
            <section>
              <h2>{{ "Nice menu"|t }}</h2>
              {{ page.footer_first }}
            </section>
          </div>
          <div class="3u 12u(mobile)">
            <section>
              {{ page.footer_second }}
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              {{ page.footer_third }}
              {{ page.footer_fourth }}
            </section>
          </div>
        {% endif %}
        {% if page.footer_fifth %}
          <div class="site-footer__bottom">
            {{ page.footer_fifth }}
          </div>
        {% endif %}
      </div>
    </footer>
  </div>

</div>
