<article{{ attributes }}>
  <h2{{ title_attributes }}>{{ label }}</h2>

  {% if display_submitted %}
    <div class="panel panel-default">
      <div class="panel-body">
        {{ author_picture }}
        <div{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date|date("m/d/Y") }}{% endtrans %}
          {{ metadata }}
        </div>
      </div>
    </div>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
